.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40rpx;

  &.small {
    .spinner {
      width: 40rpx;
      height: 40rpx;
    }
    .loading-text {
      font-size: 24rpx;
    }
  }

  &.medium {
    .spinner {
      width: 60rpx;
      height: 60rpx;
    }
    .loading-text {
      font-size: 28rpx;
    }
  }

  &.large {
    .spinner {
      width: 80rpx;
      height: 80rpx;
    }
    .loading-text {
      font-size: 32rpx;
    }
  }
}

.spinner {
  border: 4rpx solid #f3f3f3;
  border-top: 4rpx solid #667eea;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 16rpx;
  color: #666;
  text-align: center;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}
