// ImageWithFallback 组件样式
.ui-image-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #f3f3f5;

  .ui-image-error {
    width: 50%;
    height: 50%;
    opacity: 0.3;
  }
}

